body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #fffefd;

    height: auto;
}

/* header */
header {
    background-color: #000;
    color: #fffefd;

    padding: 20px 40px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* logo stays left automatically */
.header_logo {
    width: 200px;
}

/* nav goes right automatically */
.nav-buttons-container {
    display: flex;
    gap: 30px;
    padding-right: 5px;
}

/* buttons */
.nav-buttons {
    color: #fffefd;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;

}

.footer {
    background-color: #000;
    text-align: center;
    padding: 40px 20px;
    
    font-size: 20px;
    color: #fffefd;
}



main {
    padding: 20px;
}


/* home screen */
.face-container {
    display: flex;
    flex-direction: column; /* 👈 THIS is the fix */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.face {
    position: relative;
    width: 400px; /* fixed size first for easier tuning */
}

/* face image */
.face-img {
    width: 100%;
    display: block;
    z-index: 0;
    justify-self: center;
    
}

/* eyes */
.eye {
    position: absolute;
    width: 12%;
    transition: transform 0.05s linear;
}

/* adjust positions */
.left-eye {
    top: 35%;
    left: 20%;

    width: 25%;
}

.right-eye {
    top: 35%;
    right: 20%;

    width: 25%;
}

.useless_quote {
    margin: 100px auto 0 auto; /* top, right, bottom, left */
    width: 470px;
    text-align: center;
    font-size: 27px;
    color: #333;
}

@media (max-width: 768px) {
    .useless_quote {
        margin: 100px auto 0 auto;
        width: 95%;
        text-align: center;
        font-size: 27px;
        color: #333;
}




.content-home{
    min-height: 100vh;
}


/* contact section */

.contact-intro {
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    line-height: 1.6;
    color: #333;

}

.contact-details {
    max-width: 1000px;
    margin-top: 20px;
    margin-left: 75px;
    font-size: 30px;
    line-height: 1.6;
    color: #333;

}

@media (max-width: 768px) {
    .content-home{
    min-height: 100vh;
}


/* contact section */

.contact-intro {
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    line-height: 1.6;
    color: #333;

}

.contact-details {
    max-width: 1000px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    font-size: 20px;
    line-height: 1.6;
    color: #333;

}
}