"Karena saya melihat MDP bukan hanya sebagai kesempatan mendapatkan pekerjaan, tetapi sebagai komitmen jangka panjang untuk terus belajar dan berkembang bersama perusahaan.

Saya memiliki dasar kemampuan analitis yang kuat, tetapi saya juga sadar masih banyak yang harus saya pelajari. Saya terbuka terhadap masukan, cepat beradaptasi, dan tidak takut menghadapi tantangan baru. Jika diberikan kesempatan, saya akan memanfaatkan setiap proses pembelajaran sebaik mungkin agar nantinya dapat memberikan kontribusi yang nyata bagi BCA."